apiVersion: v2
name: ska-mid-psi
description: A Helm chart for Kubernetes MVP Mid
type: application
version: 0.1.0
appVersion: 0.1.0
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  # TANGO
  - name: ska-tango-base
    version: 1.0.5
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-base.enabled
  - name: ska-tango-util
    version: 1.0.5
    repository: https://artefact.skao.int/repository/helm-internal

  # MID CBF
  - name: ska-mid-cbf-tdc-mcs
    version: 1.3.8
    repository: https://artefact.skao.int/repository/helm-internal
    # repository: https://gitlab.com/api/v4/projects/65335629/packages/helm/dev
    condition: ska-mid-cbf-tdc-mcs.enabled
  - name: ska-mid-cbf-engineering-console
    version: 1.1.10-dev.cc8cccc86
    # repository: https://artefact.skao.int/repository/helm-internal
    repository: https://gitlab.com/api/v4/projects/29657133/packages/helm/dev
    condition: ska-mid-cbf-engineering-console.enabled

  # TARANTA SUITE
  - name: ska-tango-taranta
    version: 2.18.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-tangogql-ariadne
    version: 1.0.7
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-taranta-auth
    version: 0.3.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: global.taranta_auth_enabled

  # EDA
  - name: ska-tango-archiver
    version: 2.10.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-archiver.enabled

  # CSP LMC
  - name: ska-csp-lmc-mid 
    version: 1.4.0-rc.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-csp-lmc-mid.enabled

  # TMC
  - name: ska-tmc-mid
    version: 1.13.0-rc.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tmc-mid.enabled
    alias: tmc-mid

  # SDP
  - name: ska-sdp
    version: 2.2.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-sdp.enabled

  # SPFRX DEPLOYMENT
  - name: ska-mid-dish-spfrx-talondx-console
    version: 2.0.0-dev.cd3d26ec6
    # repository: https://artefact.skao.int/repository/helm-internal
    repository: https://gitlab.com/api/v4/projects/45166302/packages/helm/dev
    alias: spfrx
    condition: spfrx.enabled

  # PST
  - name: ska-pst
    version: 1.3.2
    # repository: https://gitlab.com/api/v4/projects/37595790/packages/helm/dev
    repository: https://artefact.skao.int/repository/helm-internal
    alias: ska-pst
    condition: ska-pst.enabled

  # ODA
  - name: ska-oso-integration
    version: 0.2.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-oso-integration.enabled

  # Dish LMC
  ### NOTE: need to update the version also in ska-mid-psi-dish-lmc/Chart.yaml
  ### This needs to be included here, otherwise the DishLMC pods will be killed when this chart is deployed
  - name: ska-dish-lmc
    version: 9.1.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-dish-lmc.enabled
