display: ":0"
xauthority: "~/.Xauthority"

global:
  dishes: ["001","036","063","100"]
tmc-mid:
  enabled: true
  dishleafnode:
    image:
      registry: registry.gitlab.com/ska-telescope/ska-tmc/ska-tmc-dishleafnode
      tag: 0.24.5-dev.c650a08e6
  global:
    namespace_dish:
      dish_names:
      - mid-dish/dish-manager/SKA001
      - mid-dish/dish-manager/SKA036
      - mid-dish/dish-manager/SKA063
      - mid-dish/dish-manager/SKA100
  telescope: SKA-mid
  ska-tango-base:
    enabled: false
  deviceServers:
    centralnode:
      DishVccConfig:
        DishVccUri: "car://gitlab.com/ska-telescope/ska-telmodel-data?0.1.0-rc-mid-itf#tmdata"
        DishVccFilePath: "instrument/ska1_mid_itf/ska-mid-cbf-system-parameters.json"
      DishIDs: ["SKA001","SKA036","SKA063","SKA100"]
    mocks:
      enabled: false
      dish: false
      csp: false
      sdp: false
    dishleafnode:
      enabled: true
      instances:
      - '001'
      - '036'
      - '063'
      - '100'
    subarraynode:
      DishIDs: ["SKA001","SKA036","SKA063","SKA100"]
      CspScanInterfaceURL: "https://schema.skao.int/ska-csp-scan/2.2"
      CommandTimeOut: 240
    sdpsubarrayleafnode:
      CommandTimeOut: 240
    cspsubarrayleafnode:
      CommandTimeOut: 240
