display: ":0"
xauthority: "~/.Xauthority"

global:
  minikube: false
  operator: true
  exposeAllDS: true
  dish_suffix: "elt/master"
  annotations:
    app.gitlab.com/app: ska-mid-psi
    app.gitlab.com/env: ska
  taranta_auth_enabled: false
  taranta_dashboard_enabled: true
  sub-system:
    tango-base:
      enabled: false
    ska-tango-base:
      enabled: false
    ska-taranta:
      enabled: false
  retry:
    - "--sleep=3"
    - "--tries=100"
  tango_host: databaseds-tango-base:10000
  device_server_port: 45450
  cluster_domain: cluster.local
  data-product-pvc-name: test-sdp-pvc
  tangodb_fqdn: localhost
  tangodb_port: 10000
  raw_user_account: ""
  raw_user_pass: ""
  kafka_host: ska-mid-psi-kafka

ska-tango-base:
  enabled: true
  vnc:
    replicas: 1
    enabled: true
  tangorest:
    enabled: true
    replicas: 1
  tangodb:
    use_pv: true

ska-tango-taranta:
  legacy_compatibility: true
  enabled: true

ska-tango-tangogql-ariadne:
  enabled: true
  ska-tango-base:
    enabled: false

#telescope control
## mid-cbf
ska-mid-cbf-tdc-mcs:
#  midcbf:
#    image:
#      registry: registry.gitlab.com/ska-telescope/ska-mid-cbf-tdc-mcs
#      tag: 1.3.7-dev.cadb83e18
  hostInfo:
    environment: "mid-psi"
  enabled: true
  global:
    minikube: false
  deviceServers:
    tm-subarray-node:
      enabled: true

ska-mid-cbf-engineering-console:
  enabled: true
  engineeringconsole:
    image:
      registry: registry.gitlab.com/ska-telescope/ska-mid-cbf-engineering-console
      tag: 1.1.10-dev.c57641b05
  bar:
    secret:
      vault:
        enabled: true

## EDA
ska-tango-archiver:
  legacy_compatibility: true
  enabled: false
  telescope: SKA-mid
  telescope_environment: MID_PSI
  hostname: timescaledb.ska-eda-mid-db.svc.cluster.local
  dbname: default_timescaledb
  dbuser: admin
  dbpassword: TfqQuRxku4aYTRpk
  port: 5432
  configuration_manager: mid-eda/cm/01
  event_subscriber: mid-eda/es/01
  archwizard_config: MyHDB=tango://databaseds-tango-base.{{.Release.Name}}.svc.cluster.local:10000/mid-eda/cm/01
  vault:
    enabled: false

## mid-csp
ska-csp-lmc-mid:
  enabled: true
  defaultAdminMode: 1
  numPstBeams: 0
#  midcsplmc:
#    image:
#      registry: registry.gitlab.com/ska-telescope/ska-csp-lmc-mid
#      tag: 1.3.0-dev.ca971dfd9

## sdp
ska-sdp:
  enabled: true
  ska-tango-base:
    enabled: false
  helmdeploy:
    enableNADClusterRole: true
  lmc:
    prefix: mid
  data-pvc:
    create:
      enabled: true
      size: 5Gi
      storageClassName: nfss1
  qa:
    display:
      vault:
        useVault: true

## Kafka
kafka:
  enabled: true
  image: apache/kafka
  version: 3.8.0
  imagePullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 1000m
      memory: 1024Mi
    limits:
      cpu: 2000m
      memory: 4096Mi

# SPFRx
spfrx:
  enabled: true
  console:
    registry: registry.gitlab.com/ska-telescope/ska-mid-dish-spfrx-talondx-console
    version: 2.0.0-dev.c8812c180
  bar:
    secret:
      vault:
        enabled: true
  address: 192.168.8.200
  bin: /usr/local/bin
  k_value: 1
  local_dir: artifacts
  scripts_dir: scripts
  instance: spfrx-20
  logging_level: 4

# PST
ska-pst:
  enabled: true
#  image:
#    registry: registry.gitlab.com/ska-telescope/pst/ska-pst
#    tag: 1.3.1-dev.cc27a29dc
  telescope: SKA-mid
  core:
    podSecurityContext:
      privileged: true
    send:
      dpdApiIntegration: false
    primaryVolumeMount:
      type: nfs
    podAnnotations:
      k8s.v1.cni.cncf.io/networks: "kube-system/sdn"
    applications:
      recv:
        resources:
          limits:
            memory: 16000Mi
          requests:
            memory: 16000Mi
        args:
          - "-c"
          - "ska_pst_recv_udpdb -i ${POD_IP} -p ${RECV_DATASTREAM_PORT} -c ${RECV_MGMT_PORT}"
        dataNic: "net1"
      dsp_disk:
        resources:
          limits:
            memory: 16000Mi
          requests:
            memory: 16000Mi
        args:
          - "-c"
          - "ska_pst_dsp_disk -d ${PST_DSP_MOUNT} -c ${DSP_DISK_MGMT_PORT} -n"

# ODA
ska-oso-integration:
  enabled: false
  ska-oso-oet-ui:
    image:
      registry: registry.gitlab.com/ska-telescope/oso/ska-oso-oet-ui
      tag: 1.1.0-dev.c81532d66
  ska-oso-oet:
    telescope: SKA-Mid
    vault:
      enabled: false
  ska-oso-services:
    vault:
      enabled: false
  ska-oso-slt-services:
    secretProvider:
      enabled: false
  ska-oso-slt-ui:
    enabled: false
  ska-oso-ptt:
    enabled: false
  ska-db-oda-umbrella:
    enabled: true
    ska-db-oda:
      enabled: true
      rest:
        backend:
          postgres:
            host: psi-oda-db-postgresql.oda-db
    pgadmin4:
      enabled: true
      env:
        listenAddress: 0.0.0.0
    vault:
      enabled: true
      mount: "kv-v2"
      secretPath: "secret/oda"
    postgresql:
      enabled: true
      resources:
        limits:
          cpu: 300m
          memory: 200Mi
      auth:
        postgresPassword: localpassword
        existingSecret: false
  ska-oso-pht-services:
    secretProvider:
      enabled: false

# Dish LMC
ska-dish-lmc:
  enabled: true
  ska-tango-base:
    enabled: false
  ska-mid-dish-simulators:
    enabled: true
    deviceServers:
      spfdevice:
        enabled: true
      spfrxdevice:
        enabled: false
    dsOpcuaSimulator:
      enabled: true
