display: ":0"
xauthority: "~/.Xauthority"

global:
  cluster_domain: cluster.local
  ingress:
    host: 142.73.34.170

ska-db-oda-umbrella:
  enabled: true
  ska-db-oda:
    enabled: true
    rest:
      backend:
        postgres:
          host: psi-oda-db-postgresql.oda-db
  pgadmin4:
    enabled: true
    env:
      listenAddress: 0.0.0.0
  vault:
    enabled: true
    mount: "kv-v2"
    secretPath: "secret/oda"

  postgresql:
    enabled: true
    auth:
      postgresPassword: localpassword
      existingSecret: false